<launch>
    <rosparam file="$(env HOME)/slff-data/slff.yaml" />

    <node name="expansion" type="expansion" pkg="slff" output="screen" respawn="true" />
    <node name="log" type="log" pkg="slff" output="screen" respawn="true" />
    <node name="rss" type="rss" pkg="slff" output="screen" respawn="true" />
    <node name="routine" type="routine" pkg="slff" output="screen" respawn="true" />
    <node name="gto" type="gto" pkg="slff" output="screen" respawn="true" />
    <node name="rfid" type="rfid" pkg="slff" output="screen" respawn="true" />
    <node name="database" type="database.py" pkg="slff" output="screen" respawn="true" />
    <node name="exporter" type="exporter.py" pkg="slff" output="screen" respawn="true" />
    <node name="data_backup" type="data_backup.py" pkg="slff" output="screen" respawn="true" />
</launch>